<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>川</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T </string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
		</array>
	</dict>
	<dict>
		<key>鄂</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
		</array>
	</dict>
	<dict>
		<key>桂</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
		</array>
	</dict>
	<dict>
		<key>甘</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
		</array>
	</dict>
	<dict>
		<key>贵</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
		</array>
	</dict>
	<dict>
		<key>赣</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
		</array>
	</dict>
	<dict>
		<key>黑</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
		</array>
	</dict>
	<dict>
		<key>京</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
		</array>
	</dict>
	<dict>
		<key>津</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>E</string>
		</array>
	</dict>
	<dict>
		<key>冀</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>R</string>
			<string>T</string>
		</array>
	</dict>
	<dict>
		<key>晋</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
		</array>
	</dict>
	<dict>
		<key>吉</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
		</array>
	</dict>
	<dict>
		<key>沪</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
		</array>
	</dict>
	<dict>
		<key>辽</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>V</string>
		</array>
	</dict>
	<dict>
		<key>鲁</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>U</string>
			<string>O</string>
			<string>W</string>
			<string>V</string>
		</array>
	</dict>
	<dict>
		<key>蒙</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
		</array>
	</dict>
	<dict>
		<key>闽</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
		</array>
	</dict>
	<dict>
		<key>宁</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
		</array>
	</dict>
	<dict>
		<key>青</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
		</array>
	</dict>
	<dict>
		<key>琼</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
		</array>
	</dict>
	<dict>
		<key>苏</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
		</array>
	</dict>
	<dict>
		<key>陕</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
		</array>
	</dict>
	<dict>
		<key>皖</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
		</array>
	</dict>
	<dict>
		<key>湘</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
		</array>
	</dict>
	<dict>
		<key>新</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
		</array>
	</dict>
	<dict>
		<key>渝</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
		</array>
	</dict>
	<dict>
		<key>豫</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>U</string>
		</array>
	</dict>
	<dict>
		<key>云</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
		</array>
	</dict>
	<dict>
		<key>粤</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
		</array>
	</dict>
	<dict>
		<key>浙</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
		</array>
	</dict>
	<dict>
		<key>藏</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
		</array>
	</dict>
</array>
</plist>
